.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.burger_constructor div {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
}

.burger_constructor_list {
  padding: 4px 6px;
  list-style: none;
}
