.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 40px;
}

.checkMarkIcon {
  font-size: 50px;
}

.order_id {
  font-size: 70px;
}

.order_id_label {
  font-size: 14px;
}

.order_text .order_note {
  font-size: 12px;
}
